*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;  /* ← Плавный скролл */
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

/* animation img and buttons ↓ */

img {
  transition: transform 0.3s ease-out;
  width: 100%;
}

img:hover {
  transform: scale(1.2);
}

button {
  font: inherit;
}

button:hover {
	opacity: 0.6;
}